<ion-view view-title="PATIENT'S INFO" hide-nav-bar='false'>
    <ion-nav-buttons side="left">
        <div class="margin-left-5px">
            <i class="icon ion-navicon bar-dash-menu" ng-click="toggleLeft()"></i>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div class="margin-top-4px">
            <img src="img/nav-bar-logo.png" class="width-29px">
        </div>
    </ion-nav-buttons>
    <ion-content class='content-margin-top'>

        <div class="row no-padding">
            <span class="col no-padding text-center font-color-grey font-family-cursive">Please enter patient's information</span>
        </div>
        <div class="height-200px">
            <div class="row">
                <div class="col col-10 list padding-left-0">
                    <label class="item border-none padding-top-5 font-size-25 padding-left-6">
                        <span><i class="ion-ios-person"></i></span>
                    </label>
                    <label class="item border-none margin-top-minus-20px padding-left-6 font-size-25">
                        <span><i class="ion-ios-personadd"></i></span>
                    </label>
                    <label class="item border-none margin-top-minus-20px font-size-25 padding-left-6 background-color-none">
                        <span><i class="ion-person-stalker"></i></span>
                    </label>
                    <label class="item border-none margin-top-minus-20px font-size-25 padding-left-6 background-color-none">
                        <span><i class="ion-ios-people"></i></span>
                    </label>
                </div>
                <div class="col">
                    <div class="list">
                        <label class="item item-input border-top-none border-LR-none">
                            <span class="input-label placeholder-grey-color font-color-grey font-size-14">First Name</span>
                            <input class="textFont" placeholder="Letters/Numbers only" type="text" ng-model="$parent.PatientFirstName">
                        </label>
                        <label class="item item-input border-LR-none">
                            <span class="input-label placeholder-grey-color font-color-grey font-size-14">Last Name</span>
                            <input class="textFont" placeholder="Letters/Numbers only" type="text" ng-model="$parent.PatientLastName">
                        </label>

                        <label class="item item-input border-LR-none border-bottom-none">
                            <span class="input-label placeholder-grey-color font-color-grey font-size-14">Gender</span>
                            <select ng-model="$parent.PatientGender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </label>
                        <label class="item item-input border-LR-none border-bottom-none">
                            <span class="input-label placeholder-grey-color font-color-grey font-size-14">Age</span>
                            <input class="textFont" placeholder="Numbers only (1-130)" type="number" ng-model="$parent.PatientAge">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <p class="Invalid-color" ng-if="emptyField"> *Please fill all fields!</p>
        <p class="Invalid-color" ng-if="errorField"> *Please fill only correct values!</p>

        <div class="row" ng-click="appoint()" >
            <div class="col text-center ok-image-width">
                <img src="img/ok-logo.gif">
            </div>

        </div>

        <div class="padding-top-5">
            <p class="font-color-grey" style="text-align: center;">Why do we need this info? <span style="color: cadetblue;" ui-sref="bookingLogin">Read Here</span></p>
        </div>
    </ion-content>
</ion-view>
