<ion-view view-title="Settings" hide-nav-bar='false'>
  <ion-nav-buttons side="left">
    <div class="margin-left-5px">
      <i class="icon ion-navicon bar-dash-menu" ng-click="toggleLeft()"></i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="margin-top-4px">
      <img src="img/nav-bar-logo.png" class="width-29px">
    </div>
  </ion-nav-buttons>
    <ion-content class="content-margin-top">


        <ul class="list">

            <li class="item item-toggle">
                Notifications
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li> <li class="item item-toggle">
                 Home Screen icon
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li> <li class="item item-toggle">
                Ratings
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>



        </ul>


























        </div>

    </ion-content>
</ion-view>
