<ion-view view-title="Feedback" hide-nav-bar='false'>
  <ion-nav-buttons side="left">
    <div class="margin-left-5px">
      <i class="icon ion-navicon bar-dash-menu" ng-click="toggleLeft()"></i>
    </div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="margin-top-4px">
      <img src="img/nav-bar-logo.png" class="width-29px">
    </div>
  </ion-nav-buttons>
    <ion-content class="content-margin-top">

      <div class="margin-top">
        <p class="font display-inline">Your Number has been served</p>
        <i class="ion-ios-checkmark-outline icon-color"></i>
      </div>
      <p class="font-thank margin-top">Thank You</p>
      <div class="rating star">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <label class="item item-input margin-14px">
        <textarea placeholder="Comments"></textarea>
      </label>
      <button class="button button-outline button-positive margin-30p">
        Comment
      </button>

    </ion-content>
</ion-view>
