.theme-font-brownish-color{
  color: #CA6206 !important;
}
.doctor-name-number{

  margin-top: -8%;
}
.font-family-initial{
  font-family: initial !important;
}
.dp-inline {
  display: inline;
}
.font-label{
  margin-left: 12%;
  font-size: 125%;
  color: #656565;
}
.margin2{
  margin-top:10%;
}
.star1{
  color: yellow;
  margin-left: 28%;
  font-size: 250%;
  margin-top:5%;
}
.font-review{
  font-size: 125%;
  color: #656565;
  text-align:  center;
}
.margin2-14px{
  margin: 14px !important;
}


.horizontal-line{
  width: 75%;
  margin-top: 10%;
  border-bottom: 1px solid  #D4D0D0;
  margin-left: 10%;

}
.text-margin{
  margin-left: 30%;
}
.font-bind{
  margin-left: 11%;
  color: #840909;!important;

}
.color-submit{
  border-color: #A9A3A3;
  background-color: white;
  color: #900;
}
