.search-bar-adjustment{

    width: 140%;
    border-bottom: 1px solid #D4D0D0;
    margin-left: 20%;
}
.search-background-color{
    background-color: #ffffff;

}
.ion-size{
    color:#c92420;
    width: 40%;
    margin-left: 74%;
    margin-top: 38%;
    font-size: 154%;
}
.margin-top-10{
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
}
.item
{
    border-color: #D4D0D0;
}