.margin-top {
  margin-top: 10%;
}
.font{
  margin-left: 11%;
  font-size: 125%;
  color: #656565;

}
.icon-color{
  color:  #c92420;
  font-size: 125%;
}
.display-inline {
  display: inline;
}
.font-thank{
    padding-top: 7px;
    padding-bottom: 7px;
  font-size: 125%;
  color: #656565;
  text-align:  center;
}
.star{
  color: #ffbf0f;
  margin-left: 13%;
  margin-top:5%;
}
.margin-30p{
  margin: 30px;
}
.margin-14px{
  margin-top: 20px !important;
    margin-left: 11px;
    margin-right: 11px;
}
.margin-2px{
  margin: 13px !important;
}
.color-design{
  border-color: #c92420;
  background-color: #c92420;
  color: #ffffff;
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
